<!DOCTYPE html>
<html>
<head>  
<meta charset="utf-8" />
<title>PWeb2 - Agenda de contatos</title>
</head>
<body>
<header>
<h1>PWeb2 - Agenda online</h1>
<h4>Bem-vindo!</h4>
</header>
<section>
<form action="/entrar" method="post">
<input type="text" name="usuario[nome]" placeholder="Nome" />
<br />
<input type="text" name="usuario[email]" placeholder="E-mail" />
<br />
<button type="submit">Entrar</button>
</form>
</section>
<footer>
<small>PWeb2 - Agenda de contatos</small>
</footer>
</body>
</html>